<meta charset="utf-8" content="A short portfolio" />
<title>{{title}}</title>
<link rel="stylesheet" href="/styles/general.css" />
<link rel="stylesheet" href="/styles/buttons.css" />
<link rel="stylesheet" href="/styles/animate.css" />
<link href="https://fonts.googleapis.com/css?family=Lobster&amp;display=swap" rel="stylesheet" />