<div class="half-width left">
  <a href={{skip-link}}><button type="button" class="button left">Skip</button></a>
</div>
<div class="half-width right">
  <input class="button right" type="submit" value="GO!" />
</div>