<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Shortfolio</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/styles/general.css" />
  <link rel="stylesheet" href="/styles/buttons.css" />
  <link rel="stylesheet" href="/styles/animate.css" />
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container container fade-in">
    <h1 class="title">Uh Oh.</h1>
    <p class="bio">We couldn't find that page</p>
    <form action="/" class="fade-in late" >
      <input type="submit" value="Home" class="button" />
    </form>
  </div>
</body>
</html>