<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  {{> head title="Shortfolio"}}
</head>
<body>
  <div class="container container fade-in">
    <h1 class="title">Shortfolio</h1>

    <p class="bio">Your short and sweet personal page.<br />Get your name out there.</p>
  
    <div class="half-width left">
      <form action="register">
        <input class="button left" type="submit" value="Register" />
     </form>
    </div>
    <div class="half-width right">
      <form action="login">
        <input class="button right" type="submit" value="Log In" />
      </form>
    </div>

    {{!-- <br /><br />
    <form action="printdb">
      <input type="submit" value="Inspect DB" />
    </form> --}}
  </div>
</body>
</html>