<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shortfolio</title>
  <meta charset="utf-8" />
</head>
<body>
  <h1>Log In</h1>
  <p>Customise your portfolio.</p>
  <form id='loginForm'
      action='login'
      method='post'>
        <input type="text" name="username" id="username" placeholder="Username" /><br />
        <input type="text" name="password" id="password" placeholder="Password" /><br />
        <input type='submit' value='Log In' />
    </form>
</body>
</html>