<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  {{> head title="Shortfolio"}}
  <link rel="stylesheet" href="/styles/edit.css" />
</head>
<body>
  <div class="container container wide">
    <h1 class="title">Edit Page</h1>
    <p class="bio">
      Welcome, {{username}}.<br />
      <span class="fade-in">Link some social media.</span>
    </p>
    <div class="fade-in">
      <form id='editForm'
        action='editSocial'
        method='post'
        encType="multipart/form-data">
          <label for="github">github.com/</label>
          <input type="text" name="github" id="github" placeholder="username" class="input-field" value={{github}} ></input><br />
          <label for="linkedin">linkedin.com/in/</label>
          <input type="text" name="linkedin" id="linkedin" placeholder="username" class="input-field" value={{linkedin}} ></input>
          <br /><br /><br />

          {{> twobuttons skip-link="/end"}}
      </form>
    </div>
    <br /><br />
    <p id="error">{{error}}</p>
  </div>
  <form action="logout" class="top-left" >
      <input type="submit" value="Logout" class="button" />
  </form>

  <script src="/js/edit.js"></script>
</body>
</html>