<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  {{> head title="Shortfolio"}}
  <link rel="stylesheet" href="/styles/edit.css" />
</head>
<body>
  <div class="container container wide">
    <h1 class="title">Edit Page</h1>
    <p class="bio">
      Welcome, {{username}}.<br />
      <span class="fade-in">Choose your font.</span>
    </p>
    <div class="fade-in">
      <form id='editForm'
        action='editStyles'
        method='post'
        encType="multipart/form-data">
          <select name="font" id="font" class="option" >
            <option value="{{{font}}}">       {{{font}}} (selected)</option>
            <option value="Lobster, cursive"> Lobster</option>
            <option value="Muli">             Muli</option>
            <option value="Arial">            Arial</option>
            <option value="Courier">          Courier</option>
            <option value="Courier New">      Courier New</option>
            <option value="Times">            Times</option>
            <option value="Times New Roman">  Times New Roman</option>
            <option value="Verdana">          Verdana</option>
          </select>
          <br /><br /><br />

          {{> twobuttons skip-link="/editSocial"}}
    </form>
    </div>
    <br /><br />
    <p id="error">{{error}}</p>
  </div>
  <form action="logout" class="top-left" >
      <input type="submit" value="Logout" class="button" />
  </form>
</body>
</html>