<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Shortfolio</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/styles/general.css" />
  <link rel="stylesheet" href="/styles/buttons.css" />
  <link rel="stylesheet" href="/styles/animate.css" />
  <link rel="stylesheet" href="/styles/edit.css" />
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container container wide fade-in">
    <h1 class="title">Edit Page</h1>
    <p class="bio">Welcome, {{username}}.<br />Customise your portfolio.</p>
    <form id='editForm'
        action='editText'
        method='post'
        encType="multipart/form-data">
          <input type="text" name="title" id="title" placeholder="Title" class="input-field" value={{{title}}} /><br />
          <textarea id="bio" name="bio" rows="5" cols="70" placeholder="Bio..." class="textarea">{{bio}}</textarea>
          <br /><br /><br />

          <div class="half-width left">
            <a href="/editImage"><button type="button" class="button left">Skip</button></a>
          </div>
          <div class="half-width right">
            <input class="button right" type="submit" value="GO!" />
          </div>
    </form>
    <p id="error">{{error}}</p>
  </div>
  <form action="logout" class="top-left fade-in late" >
      <input type="submit" value="Logout" class="button" />
  </form>
</body>
</html>