<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  {{> head title="Shortfolio"}}
  <link rel="stylesheet" href="/styles/edit.css" />
</head>
<body>
  <div class="container container wide fade-in">
    <h1 class="title">Edit Page</h1>
    <p class="bio">Welcome, {{username}}.<br />Customise your portfolio.</p>
    <form id='editForm'
        action='editText'
        method='post'
        encType="multipart/form-data">
          <input type="text" name="title" id="title" placeholder="Title" class="input-field" value={{{title}}} /><br />
          <textarea id="bio" name="bio" rows="5" cols="70" placeholder="Bio..." class="textarea">{{bio}}</textarea>
          <br /><br /><br />

          {{> twobuttons skip-link="/editImage"}}
    </form>
    <p id="error">{{error}}</p>
  </div>
  <form action="logout" class="top-left fade-in late" >
      <input type="submit" value="Logout" class="button" />
  </form>
</body>
</html>