/* register and login buttons */

.button {
  background:
    linear-gradient(
      rgba(0,0,0, 0.25),
      rgba(0,0,0, 0.2)
    );
  padding: 10px 15px;
  font-size: 20px;
  font-family: "Lobster", cursive;
  border-radius: 5px;
  border: 0px;
  margin-top: 1px;
}

.button:hover {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0,0,0, 0.2)
    );
  padding: 11px 16px;
  margin-top: 0px;
}

.button.left {
  float: right;
  margin-right: 5px;
}
.button.right {
  float: left;
  margin-left: 5px;
}
.button.left:hover {
  margin-right: 4px;
}
.button.right:hover {
  margin-left: 4px;
}


.half-width {
  width: 50%;
}
.half-width.left {
  float: left;
}
.half-width.right {
  float: right;
}


.top-left {
  position: fixed;
  top: 30px;
  left: 50px;
  color: white;
}

.top-left .button {
  background:
    linear-gradient(
      rgba(255,255,255, 0.4),
      rgba(255,255,255, 0.3)
    );
  margin-left: 1px;
}

.top-left .button:hover {
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255,255,255, 0.5)
    );
  margin-left: 0px;
}