html, body, .container {
  height: 100%;
  font-family: "Lobster", cursive;
}

html, body { /* remove scroll bars */
  margin: 0;
  padding: 0;
}

body {
  background:
    linear-gradient(
      rgba(255,255,255, 0.25),
      rgba(255,255,255, 0.25)
    ),
    url('/../skyscrapers.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  padding: 10% 20%;
  height: auto;
}

#title {
  font-size: 40px;
}

#bio {
  font-size: 15px;
  margin-bottom: 20px;
}

.container-narrow {
  padding: 10% 37%;
  text-align: center;
}

  .container-narrow #title {
    font-size: 70px;
    margin: 0px;
  }

  .container-narrow #bio {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

/* register / login */

.input-field {
  padding: 4px 8px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  background:
    linear-gradient(
      rgba(255,255,255, 0.8),
      rgba(255,255,255, 0.8)
    );
  border: 1px black;
  font-size: 15px;
  font-family: "Lobster", cursive;
}

.input-field:focus {
  background:
    linear-gradient(
      rgba(255,255,255, 1),
      rgba(255,255,255, 1)
    );
}

