html, body, .container {
  height: 100%;
  font-family: "Lobster", cursive;
}

html, body { /* remove scroll bars */
  margin: 0;
  padding: 0;
}

body {
  background:
    linear-gradient(
      rgba(255,255,255, 0.25),
      rgba(255,255,255, 0.25)
    ),
    url('/../skyscrapers.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  font-size: 60px;
  margin: 0px;
}

.bio {
  font-size: 20px;
}

.container {
  padding: 10% 37%;
  text-align: center;
  height: auto;
}

  .container .title {
    font-size: 70px;
  }

  .container .bio {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

.container.wide {
  padding: 10% 20%;
}

.container-personal {
  text-align: left;
  padding: 10% 25%;
}

/* text input fields */

.input-field {
  padding: 4px 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  background:
    linear-gradient(
      rgba(255,255,255, 0.8),
      rgba(255,255,255, 0.8)
    );
  border: 1px black;
  font-size: 15px;
  font-family: "Lobster", cursive;
}

.input-field:focus {
  background:
    linear-gradient(
      rgba(255,255,255, 1),
      rgba(255,255,255, 1)
    );
}

.textarea {
  border: 0px;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Lobster", cursive;
  font-size: 15px;
  resize: none;
  background:
    linear-gradient(
      rgba(255,255,255, 0.8),
      rgba(255,255,255, 0.8)
    );
}

.textarea:focus {
  background:
    linear-gradient(
      rgba(255,255,255, 1),
      rgba(255,255,255, 1)
    );
}

.option {
  background:
    linear-gradient(
      rgba(255,255,255, 0.8),
      rgba(255,255,255, 0.8)
    );
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  border-radius: 5px;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Lobster", cursive;
}

.option:focus {
  background:
    linear-gradient(
      rgba(255,255,255, 1),
      rgba(255,255,255, 1)
    );
}

.social-footer {
  position: fixed;
  bottom: 20%;
  left: 25%;
  right: 25%;
}
  .social-footer .social-icon {
    height: 50px;
    float: right;
    margin-left: 10px;
    color: black;
  }