html, body, .container {
  height: 100%;
  font-family: "Courier";
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  padding: 10% 20%;
  height: auto;
}

#title {
  font-size: 40px;
}

#bio {
  font-size: 15px;
  margin-bottom: 20px;
}